// Colors
$color-primary-light: hsla(111, 55%, 64%, 1);
$color-primary : hsla(140, 49%, 55%, 1);
$color-primary-dark : hsla(160, 64%, 43%, 1);

$color-grey-light-1 : #f7f7f7;


$color-grey-dark : #777;
$color-white : #fff;
$color-black : #000;

// Font
$default-font-size: 1.6rem;


// Grid
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 3rem;